{% extends 'base.html' %}


{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
</form>
<hr class="solid">
<div class="grid-container">
    {% for im in img %}
    <div class="container">
        <a href="{{ im.image.url }}" target="_blank">
            <img src="{{ im.image.url }}" alt="{{ im.description }}" class="image" width="350" height="350"
                 style="border:5px solid black">
            <div class="overlay">{{ im.name }}, {{ im.description }}</div>
        </a>
    </div>
    {% endfor %}
</div>
<hr class="solid">
<div class="grid-container">
    {% for im in thumb %}
    <div class="container">
        <a href="{{ im.image.url }}" target="_blank">
            <img src="{{ im.image.url }}" alt="{{ im.description }}" class="image" width="150" height="150"
                 style="border:5px solid black">
            <div class="overlay">{{ im.name }}, {{ im.description }}</div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}